<%= form_for :post, :url => { :action => :update, :id => @article.id }, :method => :put, :class => "w-25" do %>
    <div class="mb-3">
        <%= label_tag :title, nil, :class => "form-label" %><br>
        <%= text_field_tag :title, nil, :class => "form-control" %>
    </div>

    <%
=begin%>
 <div class="mb-3">
        <%= label_tag :category_elements, nil, :class => "form-label" %><br>
        <div class="row">
            <%= @categories.each do |category| %>
                <label class="col-6 cols-sm-3">
                    <%= check_box_tag :category_elements, {multiple: true}, category.id, nil %>
                    <%= category.title %>
                </label>
            <% end %>
        </div>
    </div> 
<%
=end%>

    <div class="mb-3">
        <%= label_tag :content, nil, :class => "form-label" %><br>
        <%= text_area_tag :content, nil, :class => "form-control" %>
    </div>

    <p>
        <%= submit_tag :Enviar %>
    </p>
<% end %>