<h1>Mis artículos</h1>

<% @article.each do |art| %>
    <div class="card" style="padding: 15px; max-width: 300px; margin-top: 1em;">
        <h3 class="text-uppercase"><%= art.title %></h3>
        <p class="text-secondary"><%= art.created_at %></p>
        <%= link_to "Ver más", options = {:action => :show, :id => art.id} %>
    </div>
<% end %>