<h1><%= @article.title %></h1>
<div>
    <%= @article.content %>
</div>

<div>
    <p>Tags<p>
    <p>
        <% @article.categories.each do |category| %>
            <span class="badge" style="background-color: <%= category.color %>">
                <%= link_to category.title, category, class:'text-white' %>
            <span>
        <% end %>
    </p>
</div>

<div>
    <%= link_to "Editar", options = {:action => :edit, :id => @article.id}, html_options = { :class => 'btn btn-primary'} %>
    <%= link_to "Eliminar el articulo", options = {:action => :destroy, :id => @article.id}, html_options = {:method => :delete, :data => { :confirm => '¿Estas seguro?' }, :class => 'btn btn-danger'} %>
</div>