<nav class="nav bg-light">
    <li class="nav-item">
        <%= link_to "Inicio", root_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Articulos", articles_path, class:"nav-link" %>
    </li>
    <li class="nav-item">
        <%= link_to "Escribir", articles_new_path, class:"nav-link" %>
    </li>
</nav>